h1 = I18n.t('template.default.welcome')

p = link_to I18n.t('template.student.list'), students_path
p = link_to I18n.t('template.course.list'), courses_path
p = link_to I18n.t('template.classroom.list'), new_classroom_path
